html, body{
    color: #aaaade;
    background-color: #21232A;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;

}
.wrapper-botones{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 .wrapper-botones .button{
     background-color: #ef12ee;
     color: white;
     border-style: none;
     font-size: 1.3rem;
     padding: 10px;
     width: 120px;
     margin:20px;
     box-sizing: border-box;
 }